<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hackathon"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD1tzR-bKPd1XRbAuirquTB5uHKoPiMFBQ" />

        <activity
            android:name=".LoadingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".ChooseRoleActivity" />
        <activity android:name=".DonorProfileActivity" />
        <activity android:name=".SellerProfileActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".UserProfileActivity" />
        <activity android:name=".DonationActivity" />
        <activity android:name=".DonationHistoryActivity" />
        <activity android:name=".LeaderboardActivity" />
        <activity android:name=".IncomingGoodsActivity" />
        <activity android:name=".RequestItemsActivity" />
        <activity android:name=".SupportContactsActivity" />
        <activity android:name=".FoodDonationActivity" />
        <activity android:name=".PrePurchaseActivity" />
        <activity android:name=".ProfileOptionsActivity" />
        <activity android:name=".MapsActivity" />
        <activity android:name=".FoodMenuActivity" />
        <activity android:name=".CheckoutActivity" />


    </application>
</manifest>
