<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hackathon"
        tools:targetApi="31">


        <activity
            android:name=".LoadingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" /> <!-- Ensure this line is present -->
        <activity android:name=".ChooseRoleActivity" /> <!-- Ensure this line is present -->
        <activity android:name=".DonorProfileActivity" /> <!-- Ensure this line is present -->
        <activity android:name=".RecipientProfileActivity" /> <!-- Ensure this line is present -->
        <activity android:name=".MainActivity" /> <!-- Ensure this line is present -->
        <activity android:name=".UserProfileActivity" /> <!-- Ensure this line is present -->
        <activity android:name=".DonationActivity" /> <!-- Ensure this line is present -->
        <activity android:name=".DonationHistoryActivity" /> <!-- Ensure this line is present -->
        <activity android:name=".LeaderboardActivity" /> <!-- Ensure this line is present -->
        <activity android:name=".IncomingGoodsActivity" /> <!-- Ensure this line is present -->
        <activity android:name=".RequestItemsActivity" /> <!-- Ensure this line is present -->
        <activity android:name=".SupportContactsActivity" /> <!-- Ensure this line is present -->
        <activity android:name=".FoodDonationActivity" />
        <activity android:name=".PrePurchaseActivity" />
        <activity android:name=".ProfileOptionsActivity" />

    </application>

</manifest>